footer.cls{
padding-left:50px;

}


.laterals {
	top: 15px;
	left: 0;
	width: 100%;
	height: 60px;

	border-radius: 12px / 65px;
	box-shadow: 0 0 10px #555;
}

.black{
  border-style:  solid 2px;
  border-color: #5A738E ;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  border-bottom: #1ABB9C solid 2px;



}

