
<div class="nav-md" >
  <div  class="container body" style="height: 940px;">
    <div class="main_container fixed_footer">



















      <div class="right_col" role="main" style="color: #4CAF50;height: 1000px;">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3 style="color:#2A3F54;">Dashboard </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div style="color:#2A3F54;" class="col-md-12 col-sm-12 col-xs-12" >
            <div  class="x_panel">
              <div class="x_title">
                <h2>Monitoring<small>Données	<i class="fa fa-refresh fa-spin"></i></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a (click)="hideDiv()"  class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul id="mns" class="dropdown-menu" role="menu">
                      <li [ngClass]="{'activ': size==5}"><a (click)="tofive()">5 lignes</a>
                      </li>
                      <li [ngClass]="{'activ': size==10}" ><a (click)="toten()">10 lignes</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div id="sc1" class="x_content">
                <div class="row">

                  <div class="col-md-12 ">

                    <!-- price element -->
                    <div class="col-md-3 col-sm-6 col-xs-12 ">
                      <div class="pricing ui-ribbon-container">
                        <div class="ui-ribbon-wrapper" tooltip="chiffre d'affaires le mois passé">
                          <div class="ui-ribbon">
                            Mois
                          </div>
                        </div>
                        <div class="title">
                          <h2>Montant opérations</h2>
                          <img *ngIf="!chMois" style="font-size: 4px;color: #1b6d85;" src="../../assets/images/loading.gif">
                          <h1>{{chMois}}</h1>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-times text-danger"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Download <span> now!</span></a>
                            <p>
                              Banque en ligne
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--  seconde element-->


                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing ui-ribbon-container">
                        <div class="ui-ribbon-wrapper" tooltip="chiffre d'affaires la semaine passée" data-placement="right">
                          <div class="ui-ribbon">
                             semaine
                          </div>
                        </div>
                        <div class="title" >
                          <h2>Montant opérations</h2>
                          <img *ngIf="!chSemaine" style="font-size: 4px;color: #1b6d85;" src="../../assets/images/loading.gif">
                          <h1 *ngIf="chSemaine">{{chSemaine}}<small>&nbsp;Dt</small></h1>

                          <span>dinars</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Download <span> now!</span></a>
                            <p>
                              Banque en ligne
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- -->


                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing ui-ribbon-container">
                        <div class="ui-ribbon-wrapper" tooltip="chiffre d'affaires d'aujourd'hui" data-placement="right">
                          <div class="ui-ribbon">
                            Aujourd'hui
                          </div>
                        </div>
                        <div class="title" >
                          <h2>Montant opérations</h2>
                          <img *ngIf="!chjours && !chjours==0" style="font-size: 4px;color: #1b6d85;" src="../../assets/images/loading.gif">
                          <h1>{{chjours}}<small>&nbsp;Dt</small></h1>

                          <span>dinars</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <a href="javascript:void(0);" class="btn btn-danger btn-block" role="button">Download <span> now!</span></a>
                            <p>
                             Banque en ligne
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                 </div>
              </div>


              </div><!-- /.modal-dialog -->










            </div>

          </div>
        </div>
      </div>
    </div>





