
<div class="nav-md">
  <div class="container body" style="height: 820px;">
    <div class="main_container fixed_footer">

      <ng-progress></ng-progress>





      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main" style="height: 900px;">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <br/>
              <br/>
              <br/>
              <h3>Nouveau conseiller </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Conseiller <small>données personnelles</small></h2>

                  <div class="clearfix"></div>
                </div>
                <div id="nvelleAgence" class="x_content">
                  <div *ngIf="x==0" class="x_panel">
                  <br />
                  <form  class="form-horizontal form-label-left" [formGroup]="conseilgroup" (submit)="ajoutCons()" #f="ngForm">

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nom <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="first-name" formControlName="nomConseiller" class="form-control col-md-7 col-xs-12" required>

                      </div>
                      <div *ngIf="conseilgroup.controls.nomConseiller.invalid && (conseilgroup.controls.nomConseiller.dirty || conseilgroup.controls.nomConseiller.touched)"
                           class=" error">
                        <div class="alertt" *ngIf="conseilgroup.controls.nomConseiller.errors.required"><i style="color: white;">Nom manquant</i></div>
                        <!-- other errors validations  -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Prénom <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="last-name"  formControlName="prenomConseiller" class="form-control col-md-7 col-xs-12" required minlength="2">
                      </div>

                      <div *ngIf="conseilgroup.controls.prenomConseiller.invalid && (conseilgroup.controls.prenomConseiller.dirty || conseilgroup.controls.prenomConseiller.touched)"
                           class=" error">
                        <div class="alertt" *ngIf="conseilgroup.controls.prenomConseiller.errors.required"   ><i style="color: white;">prenom manquant</i></div>
                        <div class="alertwarning" *ngIf="conseilgroup.controls.prenomConseiller.errors.minlength"><i style="color: #2A3F54;">le nom doit comporter au moins 2 lettres</i></div>
                        <!-- other errors validations  -->
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12" >Email / contact</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="email"  formControlName="emailConseiller" required >



                      </div>
                      <div *ngIf="conseilgroup.controls.emailConseiller.invalid && (conseilgroup.controls.emailConseiller.dirty || conseilgroup.controls.emailConseiller.touched)">

                        <div class="alertt" *ngIf="conseilgroup.controls.emailConseiller.errors.required"><i style="color: white;">email manquant</i></div>
                        <div class="alertt" *ngIf="conseilgroup.controls.emailConseiller.errors.pattern"><i style="color: white;">email non valide</i></div>
                        <!-- other errors validations  -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" type="date" formControlName="dateDeNaissance"  required>

                      </div>
                      <div *ngIf="conseilgroup.controls.dateDeNaissance.invalid && (conseilgroup.controls.dateDeNaissance.dirty || conseilgroup.controls.dateDeNaissance.touched)">

                        <div class="alertt" *ngIf="conseilgroup.controls.dateDeNaissance.errors.required"><i style="color: white;">Date de naissance manquante</i></div>
                        <!-- other errors validations  -->
                      </div>

                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Agence <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12"  >
                          <select id="soflow" class="form-control" [(ngModel)]="agenceSelected" formControlName="agence" required name="myselect">
                            <optgroup label="Liste des agences">
                            <option class="option" *ngFor="let agence of agences?.content" [ngValue]="agence" required>{{agence.addresse}}</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="conseilgroup.controls.agence.invalid && (conseilgroup.controls.agence.dirty || conseilgroup.controls.agence.touched)"
                           class="error">
                        <div class="alertt" *ngIf="conseilgroup.controls.agence.errors.required"><i style="color: white;">Agence non renseignée</i></div>
                        <!-- other errors validations  -->
                      </div>



                    </div>

                   


                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button [disabled]="conseilgroup.invalid" type="submit" class="btn btn-success">Continuer</button>
                      </div>
                    </div>


                  </form>
                  </div>
                  <div *ngIf="x==2">

                    <div id="demo-formConfirm" data-parsley-validate class="form-horizontal form-label-left" >

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Nom :<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p class="form-control-static"><i style="color:#2A3F54;font-size: 15px;">{{conseillerParameter.nomConseiller}}</i></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Prénom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p class="form-control-static"><i style="color:#2A3F54;font-size: 15px;">{{conseillerParameter.prenomConseiller}}</i></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12" >Email / contact</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p class="form-control-static"><i style="color:#2A3F54;font-size: 15px;">{{conseillerParameter.emailConseiller}}</i></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Civilité</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p class="form-control-static"><i style="color:#2A3F54;font-size: 15px;">{{conseillerParameter.dateDeNaissance}}</i></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Agence : <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p class="form-control-static"><i style="color:#2A3F54;font-size: 15px;">{{conseillerParameter.agence.addresse}}</i></p>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" (click)="annuler()">Annuler</button>
                          <button [disabled]="loading" type="submit" class="btn btn-success" (click)="confirmerAjoutConseiller()" >Confirmer</button>

                        </div>
                      </div>

                    </div>

                  </div>
                  <div *ngIf="x==3">
                    <p style="color: #2A3F54;font-size: 15px;">l'ajout du conseiller a été fait avec succés .pour revenir au formulaire<a class="clickable" (click)="formulaire()"> cliquez ici</a></p>
                  </div>
                </div>
              </div>
            </div>


        </div>









      </div>

    </div>



  </div>
</div>




