
<div class="nav-md" >
  <div  class="container body" style="height: 820px;">
    <div class="main_container fixed_footer">












      <div class="right_col" role="main" style="color: #4CAF50;height: 900px;">
        <div class="">
          <div class="page-title">
            <div class="title_left">

            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div style="color:#2A3F54;" class="col-md-12 col-sm-12 col-xs-12" >
            <div  class="x_panel">
              <div class="x_title">
                <h2>Conseillers<small>Modification	<i class="fa fa-refresh fa-spin"></i></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul id="mns" class="dropdown-menu" role="menu">
                      <li [ngClass]="{'activ': size==5}"><a (click)="tofive()">5 lignes</a>
                      </li>
                      <li [ngClass]="{'activ': size==10}" ><a (click)="toten()">10 lignes</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div id="s"  class="x_content">
                <div  class="form-group"></div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb menuperso ">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Conseillers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editer</li>






                  </ol>
                </nav>






















                <!-- The Modal -->




                <br/>



                <p class="text-muted font-13 m-b-30"></p>
                <div class="alertDIV" *ngIf="conseiller">
                  <form  class="form-horizontal form-label-left" [formGroup]="conseilgroup" (submit)="updateConseiller()">
                    <div class="alertform">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control col-md-7 col-xs-12" formControlName="nomConseiller"   placeholder="Michel" [ngModel]="conseiller.nom" required>
                          <div *ngIf="conseilgroup.controls.nomConseiller.valid">
                            <span
                              class="label label-success pull-right">valide</span></div>
                        </div>
                        <div *ngIf="conseilgroup.controls.nomConseiller.invalid && (conseilgroup.controls.nomConseiller.dirty || conseilgroup.controls.nomConseiller.touched)"
                             class="alertt error">
                          <i>nom manquant</i>
                          <!-- other errors validations  -->
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Prenom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text"  class="form-control col-md-7 col-xs-12"
                                 formControlName="prenomConseiller" placeholder="Michel" [(ngModel)]="conseiller.prenom"
                                 required minlength="3">
                          <div *ngIf="conseilgroup.controls.prenomConseiller.valid">
                             <span
                               class="label label-success pull-right">valide</span></div>
                        </div>
                        <div *ngIf="conseilgroup.controls.prenomConseiller.invalid && (conseilgroup.controls.prenomConseiller.dirty || conseilgroup.controls.prenomConseiller.touched)"
                             >
                          <div class="alertt" *ngIf="conseilgroup.controls.prenomConseiller.errors.required"><i style="color: white;">prenom manquant</i></div>
                          <div class="alertwarning" *ngIf="conseilgroup.controls.prenomConseiller.errors.minlength"><i style="color: #2A3F54;">le nom doit comporter au moins 3 lettres</i></div>
                          <!-- other errors validations  -->
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" name="prenom" class="form-control col-md-7 col-xs-12" [(ngModel)]="conseiller.email"
                                 formControlName="emailConseiller" placeholder="Michel"
                                 required>

                          <div *ngIf="conseilgroup.controls.emailConseiller.valid">
                             <span
                               class="label label-success pull-right">valide</span></div>


                        </div>
                        <div *ngIf="conseilgroup.controls.emailConseiller.invalid && (conseilgroup.controls.emailConseiller.dirty || conseilgroup.controls.emailConseiller.touched)">

                          <div class="alertt" *ngIf="conseilgroup.controls.emailConseiller.errors.required"><i style="color: white;">email manquant</i></div>
                          <div class="alertwarning" *ngIf="conseilgroup.controls.emailConseiller.errors.pattern"><i style="color: white;">email non valide</i></div>
                          <!-- other errors validations  -->
                        </div>

                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date embauche <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="date" name="gft" class="form-control col-md-7 col-xs-12" [(ngModel)]="conseiller.dateEmbauche"
                                 formControlName="dateEmbauche" placeholder="Michel"
                                 required>
                          <div *ngIf="conseilgroup.controls.dateEmbauche.valid">
                            <span
                              class="label label-success pull-right">valide</span></div>


                        </div>
                        <div *ngIf="conseilgroup.controls.dateEmbauche.invalid && (conseilgroup.controls.dateEmbauche.dirty || conseilgroup.controls.dateEmbauche.touched)"
                             class="error">
                          <div class="alertt" *ngIf="conseilgroup.controls.dateEmbauche.errors.required"><i style="color: white;">Date d'embauche manquante</i></div>
                          <!-- other errors validations  -->
                        </div>

                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Naissance <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="date" class="form-control col-md-7 col-xs-12" formControlName="dateDeNaissance"
                                 placeholder="Michel" [(ngModel)]="conseiller.datedenaissance" required>
                          <div *ngIf="conseilgroup.controls.dateDeNaissance.valid">
                            <span
                              class="label label-success pull-right">valide</span></div>
                        </div>
                        <div *ngIf="conseilgroup.controls.dateDeNaissance.invalid && (conseilgroup.controls.dateDeNaissance.dirty || conseilgroup.controls.dateDeNaissance.touched)"
                             class="error">
                          <div class="alertt" *ngIf="conseilgroup.controls.dateDeNaissance.errors.required"><i style="color: white;">Date de naissance manquante</i></div>
                          <!-- other errors validations  -->
                        </div>
                      </div>



                      {{conseilgroup.value|json}}{{conseilgroup.status}}
                    </div>


                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="retour()">Annuler</button>
                      <button [disabled]="conseilgroup.invalid || changed"  type="submit" class="btn btn-primary">Save</button>
                    </div>




                  </form>

                </div>

















                <br/>

                <!-- Modal pour confirmation de suppression. -->














                <!-- Modal section modal  modal-->









































              </div>
            </div>



        </div>
      </div>
    </div>



