<div *ngIf="authService.loggedIn "  class="nav-md footer_fixed">



  <div class="container body">
    <div   class=" main_container">
      <div  class="col-md-3 left_col menu_fixed">
        <div id="cg" class="left_col">
          <div class="bond navbar nav_title" style="border: 1px;">

            <a  class=" div site_title"> <span>Banque en ligne</span></a>
          </div>

          <nav class=" w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:disp;padding-top:150px;width:17%;" id="mySidebar" [ngStyle]="{'display':dispe}">

            <a  (click)="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
              <i class="fa fa-remove"></i>
            </a>
            <div class="w3-bar-block w3-center">
              <a  class="w3-bar-item w3-button w3-text-grey w3-hover-black">Voulez vous vous déconnecter ?</a>

              <button type="button" class="btn btn-danger" (click)="deconnecter()">Oui</button>
              <button (click)="w3_close()" type="button" class="btn btn-primary">Non</button>


            </div>

          </nav>





          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">

              <img *ngIf="authService.image" style="border-color: #1ABB9C;" class="img-circle profile_img" [src]="authService.image"/>
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{authService.nomUserLoggedIn.nom}}&nbsp;{{authService.nomUserLoggedIn.prenom}}</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />







          <br/>

          <div></div> <!-- sidebar menu -->
          <div    id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">


                <li  [ngClass]="{'effetmenu':effect==1}" (click)="toggleHome()" ><a [ngClass]="{'push_button':effect==1}"><i class="fa fa-home "></i><span class="fa fa-chevron-down"></span>Home</a>
                  <ul  id="home" class="nav child_menu">
                    <li ><a class="onglet" (click)="goToProfile()" >Mon profile</a></li>
                    <li *ngIf="authService.isAdmin()"><a class="onglet" routerLink="/home/graphique">Chiffres</a></li>

                  </ul>
                </li>





                <li [ngClass]="{'effetmenu':effect==2}" (click)="toggleForm()"><a [ngClass]="{'push_button':effect==2}"><i class="fa fa-edit"></i><span class="fa fa-chevron-down"></span>Gestion des clients </a>
                  <ul id="edit" class="nav child_menu">
                    <li><a class="onglet" [ngClass]="{'activ':zone==5}" routerLink="/home/clients">Clients</a></li>
                    <li><a class="onglet" [ngClass]="{'activ':zone==7}" routerLink="/home/NouveauClient">Nouveau client</a></li>
                  </ul>
                </li>

                <li [ngClass]="{'effetmenu':effect==5}" (click)="togglegeneral()"><a [ngClass]="{'push_button':effect==5}" ><i class="fa fa-edit"></i><span class="fa fa-chevron-down"></span>Gestion des conseillers </a>
                  <ul id="c" class="nav child_menu">
                    <li><a class="onglet" routerLink="/home/conseillers" >Conseillers</a></li>
                    <li><a class="onglet" routerLink="/home/NouveauConseiller">Nouveau conseiller</a></li>
                  </ul>
                </li>

                <li [ngClass]="{'effetmenu':effect==3}" (click)="toggleCalendrier()"><a [ngClass]="{'push_button':effect==3}"><i class="fa fa-desktop"></i><span class="fa fa-chevron-down"></span>Calendrier</a>
                  <ul id="a" class="nav child_menu">
                    <li><a class="onglet" routerLink="/home/Calendrier">Calendar</a></li>
                  </ul>
                </li>


                <li [ngClass]="{'effetmenu':effect==4}" (click)="toggleagences()"><a [ngClass]="{'push_button':effect==4}" ><i class="fa fa-clone"></i>Agences <span class="fa fa-chevron-down"></span></a>
                  <ul id="agences" class="nav child_menu">
                    <li><a class="onglet" routerLink="/home/NouvelleAgence">Nouvelle agence</a></li>
                    <li><a class="onglet" routerLink="/home/Agences">Agences</a>

                    </li>
                  </ul>
                </li>
              </ul>

              <h3>Live On</h3>
              <ul class="nav side-menu">



                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span
                  class="label label-success pull-right">Coming Soon</span></a></li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a (click)="hideOnglets()" data-toggle="tooltip" data-placement="top" tooltip="fermer les onglets">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" tooltip="plein écran">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" tooltip="Mon profile">
              <span (click)="openModalProfile()" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a  data-toggle="tooltip"  (click)="w3_open()" tooltip="déconnexion">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>


        </div>


        <!-- /menu footer buttons -->
      </div>
    </div>


    <!-- /top navigation -->







    <!-- /page content -->



    <!-- footer content -->

    <!-- /footer content -->



    <!-- jQuery -->





  </div>
</div>

<div *ngIf="authService.loggedIn"  class="main_container fixed_footer w3-animate-top">
  <div class="top_nav navbar-fixed-top">
    <div id="nav" class="nav_menu laterals">
      <nav>
        <div class="nav toggle">
          <a (click)="fade()" id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <div id="dt" class="col-sm-2">
          <div class="daily-weather">
            <img class="bond navbar nav_title" src="../../assets/images/uib.png"/>
          </div>
        </div>

        <ul class="nav navbar-nav navbar-right">


          <li class="dropdown" (click)="cliquer()">
            <a style="cursor: pointer;text-align:center;" class="dropdown-toggle user-profile" data-toggle="dropdown">
              <img  [src]="authService.image" >{{authService.nomUserLoggedIn.nom}}
              <i  class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul id="settings" class="dropdown-menu dropdown-user">
              <li><a style="color: #2A3F54;" (click)="gotoprofile()"><i style="color: #1ABB9C;" class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a style="color: #2A3F54;" href="#"><i style="color: #1ABB9C;" class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a style="color: #2A3F54;" (click)="logout1()"><i style="color: #1ABB9C;" class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
            </ul>

            <!-- /.dropdown-user -->
          </li>
        </ul>
      </nav>
    </div>

    <div  id="snack">
      <ul  class="nav navbar-right panel_toolbox">
        <li  class="pull-right">
          <span style="color: #2A3F54;" (click)="closeModalProfile()" class="pull-right" class="close">&times;</span>
        </li>
      </ul>

      <p style="color: #2A3F54;">Profile:&nbsp;{{profile}}</p>
      <br/>



    </div>






  </div>
</div>
<router-outlet></router-outlet>








