.effetmenu {
  border-right: #04B4AE solid 5px;
}



.bond{
  animation: bounce 2s ease infinite ;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.black{
  border-style:  solid 2px;
  border-color: #5A738E ;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);



}

.th{
  background-color: white;
}

.mv {

  position: relative;
  -webkit-animation: mymove 5s ; /* Safari 4.0 - 8.0 */
  animation: mymove 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}

@keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}


#snack {
  visibility: hidden;
  min-width: 350px;
  max-height:130px;
  margin-left: -125px;
  margin-bottom: 35px;
  background-color: lightblue;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 36px;

  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}




#snack.shw {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fi 0.5s, fo 0.5s 4.5s;
}





#f.btnHautDePage {
  visibility:visible;
  min-width: 350px;
  max-height:130px;
  margin-left: -270px;
  margin-bottom: 15px;

  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 36px;

  position: fixed;
  z-index: 1;
  left: 100%;
  bottom: 30px;
  font-size: 17px;
}


#f {
  visibility:hidden;
  min-width: 350px;
  max-height:130px;
  margin-left: -325px;
  margin-bottom: 15px;

  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 36px;

  position: fixed;
  z-index: 1;
  left: 100%;
  bottom: 30px;
  font-size: 17px;
}

.btn{
background-color:#39e600;
color:#003366;

}

.btn:hover{
background-color:#003366;
color:#39e600;
}












