.effetmenu {
  border-right: #04B4AE solid 5px;


}



.bond{
  animation: bounce 2s ease infinite ;
}
@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.black{
  border-style:  solid 2px;
  border-color: #5A738E ;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);



}

.th{
  background-color: white;
}

.mv {

  position: relative;
  -webkit-animation: mymove 5s ; /* Safari 4.0 - 8.0 */
  animation: mymove 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}

@keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}


#snack {
  visibility: hidden;
  min-width: 350px;
  max-height:130px;
  margin-left: -125px;
  margin-bottom: 35px;
  background-color: lightblue;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 36px;

  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}


#snack.shw {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fi 0.5s, fo 0.5s 2.5s;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}



button:hover, a:hover {
  opacity: 0.7;
}


