.clickableoperations{
  cursor:pointer;

}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10px;
  padding: 0;
  border: 1px solid #888;
  width: 100%;

  box-shadow: 0 4px 8px 6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.51s;
  animation-name: animatetop;
  animation-duration:  0.51s;
}

@keyframes animatetop {
  from {top: -400px; opacity:0}
  to {top:0; opacity:1}
}
