
.active, .btnperso:hover{
  margin : 2px;
  left: 30px;
  color: white;
  border: 5px solid inherit;
  border-left: #2A3F54 solid 10px;
  border-right: #2A3F54 solid 10px;
  animation: alternate;

}

.btn-menu{
  background: #2A3F54 ;
  color: white;
  width:10%;

}
